{{#each songs as |song|}}

<h4 data-id="{{song.id}}">
    "{{song.title}}"
    <br> by {{song.artist}}, recorded in {{song.year}}.
    <br>Did this artist write this song? {{song.written_by}}
    <br>Song ID = {{song.id}}
    <form class="delete-song" id="delete-song">
      <div class="form-group">
          <button type="submit" class="btn btn-default">Delete Song</button>
      </div>
    </form>
    <button type="submit" class="update-song">Edit Song</button>
</h4><br>



{{/each}}
